@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,400&family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient( 68.15deg, #2f2325, #8e5d52 );
}

.cabecalho{
     display: flex;
     flex-direction: row ;
     align-items: center;
     justify-content: space-around;
     padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap:32px;
}

.cabecalho-menu-item{
    font-family: 'Kanit', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2ef;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
}

.conteudo-principal-escrito-botao{
    background-color: purple;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 20ch;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(235, 214, 220, 0.3);
    cursor: pointer;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;   
    
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff;
    padding-top: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #fff;
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}